* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Gilroy';
}

html, body {
   width: 100%;
   height: 100%;
   /* padding: 0 40px; */
}

#main{
    height: 100%;
    width: 100%;
    background-color: #F1F1F1;

}

#page1 h6{
    rotate: -90deg;
    color: rgb(100, 100, 100);
    position: fixed;
    top: 50%;
    left: -5%;
    font-size: 20px;
    z-index: 99;
    /* mix-blend-mode:exclusion; */
}

#page1 a{
    rotate: 90deg;
    color: rgb(100, 100, 100);
    position: fixed;
    top: 50%;
    right: 2%;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    z-index: 99;
    /* mix-blend-mode:exclusion; */
}

#page1 a i{
    margin-right: 4px;
}

#page1{
    height: 60%;
    width: 100%;
    background-image: url(https://coolbackgrounds.io/images/backgrounds/white/white-triangle-369b8d2d.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

#nav{
    height: 100px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  0 50px;
}

#nav h1{
    font-weight: 800;
    font-size: 40px;
    cursor: pointer;
    transition: all ease 0.5s;
}

#nav h1:hover{
    scale: 0.9;
}

#nav-part2{
    display: flex;
    align-items: center;
    gap: 50px;
}

#nav-part2 h3{
    font-size: 16px;
    color: rgb(37, 37, 37);
    font-weight: 500;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}

#nav-part2 h3::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    background-color: black;
    left: -100%;
    bottom: 0%;
    transition: all ease 0.2s;


}

#nav-part2 h3:hover:after{
    width: 120%;
    left: 0%;
   
    
}




#nav-part2 h3::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgb(56, 56, 56);
    left: 150%;
    bottom: 0%;
    transition: all ease 0.8s;
    scale: 0;


}


#nav-part2 h3:hover:before{
    left: -80%;
    scale: 1;
    
}




#nav button{
    font-size: 18px;
    font-weight: 600;
    padding: 12px 22px;
    border-radius: 50px;
    color: #EF5F63;
    border: 2px solid #EF5F63;
    transition: all ease 0.3s;
}

#nav button:hover{
    background-color: #EF5F63;
    color: white;
}

#heading{
    font-size: 90px;
    line-height: 90px;
    text-align: center;
    margin-top: 70px;
}

#page1 h2{
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(34, 34, 34);
}

#buttons{
    display: flex;
    align-items: center;
    gap: 10px;
    

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;

}

button{
    font-size: 18px;
    font-weight: 600;
    padding: 12px 22px;
    border-radius: 50px;
    color: #EF5F63;
    border: 2px solid #EF5F63;
    transition: all ease 0.3s;
    background-color: transparent;
}

button:hover{
    background-color: #EF5F63;
    color: white;
}

#buttons h3{
    color: #EF5F63;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    position: relative;
    padding-bottom: 5px;
    cursor: pointer;

}

#buttons h3::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    background-color: #EF5F63;
    left: -100%;
    bottom: 0%;
    transition: all ease 0.2s;


}

#buttons h3:hover:after{
    width: 120%;
    left: 0%;
   
    
}




#buttons h3::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #EF5F63;
    left: 150%;
    bottom: 0%;
    transition: all ease 0.9s;
    scale: 0;


}


#buttons h3:hover:before{
    left: -80%;
    scale: 1;
    
}


#page2{
    height: 110%;
    width: 100%;
    background-color: rgb(241, 241, 241);
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 video{
    height: 90%;
    width: 90%;
    padding: 0 100px;
}

#videotext{
    height: 100px;
    width: 100%;
    /* background-color: grey; */
    background-color: rgb(241, 241, 241);

    display: flex;
    align-items: center;
    justify-content: center;
}
 
#videotext{
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
}

#logomain{
    height: 250px;
    width: 100%;
    /* background-color: grey; */
    background-color: rgb(241, 241, 241);
    /* background-color: yellow; */

    display: flex;
    align-items: center;
    white-space: nowrap;

    overflow-x: auto;
}


#logomain::-webkit-scrollbar{
    display: none;
}



#logos{
    height: 80%;
    width: 100%;
    display: inline-block;
    /* padding: 0 10px; */

    animation-name: logo;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}

@keyframes logo {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 4px));
    }
    
}

#logos img{
    margin-top: 60px;
    height: 70%;
    /* display: inline-block; */
}

#page3{
    height: 100%;
    width: 100%;
    /* background-color: grey; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 0 200px;
    padding-top: 100px;
    background-color: #F1F1F1;

}

#page3-left{
    height: 100%;
    width: 50%;
    background-color: rgb(71, 71, 71);
    background-color: white;
    background-color: #F1F1F1;

    display: flex;
    flex-direction: column;
    gap: 80px;
    /* align-items: center; */

}

#left-box:hover #inner-box img{
    /* background-color: white; */
    /* height: 110%; */
    scale: 1.2;
}



#left-box:hover #inner-box:before{
    left: 0%;
}

/* #left-box:hover #left-box h2{
    font-size: 40px;
} */

#left-box{
    height: 70%;
    width: 100%;
    background-color: white;
    background-color: #F1F1F1;

    position: relative;
    overflow: hidden;

}

#inner-box{
    height: 83%;
    width: 100%;
    /* background-color: black; */
    overflow: hidden;
    z-index: 1;

    
}

#inner-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 1s;
    /* z-index: -1; */
}

#inner-box:after{
    content: "This is Digital";
    position: absolute;
    font-size: 30px;
    font-weight: 700;
    width: 26%;
    /* width: fit-content; */
    left: 0%;
    bottom: 7%;
    /* background-color: grey; */
    /* transition: all ease 5s; */

}

#inner-box::before{
    content: "";
    position: absolute;
    width: 26%;
    height: 3px;
    /* background-color: red; */
    left: -100%;
    bottom: 7%;
    z-index: 99;
    background-color: black;
    transition: all ease 0.5s;

}

/* #left-box h2{
    font-size: 30px;
    margin-top: 15px;
    font-weight: 700;
    position: relative;
    width: fit-content;
    cursor: pointer;
    padding-bottom: 2px;
} */


#left-box h3{
    font-size: 20px;
    color: rgb(72, 72, 72);
    font-weight: 500;
    margin-top: 10px;
    position: absolute;
    bottom: 1%;
}

#page3-left #google{
    /* height: 120px; */
    width: 150px;
    padding-bottom: 100px;
}

#page3-right{
    height: 100%;
    width: 50%;
    /* background-color: darkgrey; */
    position: relative;
    overflow: hidden;
}

#right-box:after{
    content: "Natterjack";
    position: absolute;
    /* background-color: red; */
    font-size: 30px;
    font-weight: 700;
    width: 21%;
    bottom: 8%;
    left: 0%;
}

#right-box::before{
    content: "";
    position: absolute;
    width: 21%;
    height: 3px;
    /* background-color: red; */
    left: -50%;
    bottom: 8%;
    z-index: 99;
    background-color: black;
    transition: all ease 0.5s;

}

#right-box{
    height: 85%;
    width: 100%;
    background-color: black;
    overflow: hidden;
}

#right-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 1s;
}

#page3-right:hover #right-box img{
    scale: 1.2;
}

#page3-right:hover #right-box:before{
    /* color: rgb(100, 100, 100); */
    /* font-weight: 900; */
    /* text-decoration: underline; */
    left: 0%;
}

#right-box h3{
    font-size: 20px;
    /* color: white; */
    position: absolute;
    bottom: 3%;
    font-weight: 500;
    color: rgb(93, 93, 93);
}

#page4{
    height: 100%;
    width: 100%;
    padding: 50px 200px;
    /* background-color: grey; */
    display: flex;
    gap: 60px;
    background-color: #F1F1F1;

}

#page4-left{
    height: 100%;
    width: 50%;
    /* background-color: white; */
    
}

#left4-box:hover #inner4-left img{
    scale: 1.2;
}

#left4-box:hover #inner4-left:before{
    left: 0%;
    
}

#left4-box{
    height: 95%;
    width: 100%;
    /* background-color: black; */
    position: relative;
    overflow: hidden;

}

#left4-box h3{
    font-size: 20px;
    position: absolute;
    bottom: 4%;
    font-weight: 500;
    /* left: 10%; */
    color: rgb(93, 93, 93);
}

#inner4-left{
    height: 85%;
    width: 100%;
    overflow: hidden;
}

#inner4-left:after{
    content: "Gary Neville";
    position: absolute;
    font-size: 30px;
    font-weight: 700;
    /* color: white; */
    width: 24%;
    /* background-color: yellow; */
    bottom: 8%;
    left: 0%;
}

#inner4-left::before{
    content: "";
    position: absolute;
    width: 24%;
    height: 3px;
    /* background-color: red; */
    left: -50%;
    bottom: 8%;
    z-index: 99;
    background-color: black;
    transition: all ease 0.5s;

}

#inner4-left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.8s;
}


#page4-right{
    height:100%;
    width: 50%;
    /* background-color: rgb(67, 67, 67);    */
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#right4-box{
    height: 65%;
    width: 100%;
    /* background-color: rgb(40, 40, 40); */
    position: relative;
    overflow: hidden;
}

#right4-box h3{
    font-size: 20px;
    font-weight: 500;
    color: rgb(93, 93, 93);
    position: absolute;
    bottom: 2%;

}

#inner4-rightbox{
    height: 83%;
    width: 100%;
    background-color: peachpuff;
    overflow: hidden;


}

#inner4-rightbox:after{
    content: "Studio 25";
    position: absolute;
    font-size: 30px;
    font-weight: 700;
    width: 19%;
    /* background-color: yellow;     */
    left: 0%;
    bottom: 8%;
}

#inner4-rightbox::before{
    content: "";
    position: absolute;
    width: 19%;
    height: 3px;
    /* background-color: red; */
    left: -100%;
    bottom: 8%;
    z-index: 99;
    background-color: black;
    transition: all ease 0.5s;

}

#inner4-rightbox img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 1s;

}

#right4-box:hover #inner4-rightbox img{
    scale: 1.2;
}

#right4-box:hover #inner4-rightbox::before{
    left: 0%;
}

#red-arrow{
    width: 100%;
    /* background-color: red; */
    height: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
}

#red-arrow h2{
    font-size: 20px;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    color: #EF5F63;
    cursor: pointer;
}



#red-arrow i{
    font-size: 40px;
    font-weight: 100;
    color: #EF5F63;

}



#red-arrow h2::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    background-color: #EF5F63;
    left: -100%;
    bottom: 0%;
    transition: all ease 0.2s;


}

#red-arrow h2:hover:after{
    width: 120%;
    left: 0%;
   
    
}




#red-arrow h2::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #EF5F63;
    left: 150%;
    bottom: 0%;
    transition: all ease 0.8s;
    scale: 0;


}


#red-arrow h2:hover:before{
    left: -80%;
    scale: 1;
    
}


#page5{
    height: 100%;
    width: 100%;
    /* background-color: wheat; */
    padding: 10px 200px;
    background-color: #F1F1F1;

}

#page5 h2{
    font-size: 30px;
    font-weight: 600;
}

#page5-outer{
    height: 100%;
    width: 100%;
    /* background-color: salmon; */
    display: flex;
    align-items: center;
    gap: 60px;
    padding-top: 25px;

}

#page5-left{
    height: 100%;
    width: 50%;
    /* background-color: grey; */

}

#page5-left h3{
    font-size: 28px;
    margin-top: 60px;
}

#page5-left p{
    font-size: 18.1px;
    padding-bottom: 30px;
    font-weight: 500;
}

#page5-left #p1{
    margin-top: 60px;
}

#page5-left p span{
    color: #EF5F63;
    position: relative;
    padding-bottom: 2px;
    cursor: pointer;
    font-weight: 600;
}

#page5-left p span:after{
    content: "";
    position: absolute;
    height: 1px;
    width: 0%;
    background-color: #EF5F63;
    bottom: 0%;
    left: 0%;
    transition: all ease 0.5s;
}

#page5-left p span:hover::after{
    width: 100%;
}

#left5-inner{
    height: 55%;
    width: 100%;
    background-color: white;
    /* z-index: 20px; */
    position: relative;
    overflow: hidden;


}

#left5-inner #blur{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.603);
    position: absolute;
    z-index: 10;
  

   
}

#blur h2{
    color: white;
    position: absolute;
    bottom: 10%;
    left: 6%;
    font-weight: 700;
    font-size: 24px;
}

#blur #blur-box{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    border: 1px solid white;

    position: absolute;

    left: 50%; 
     top: 50%;
    transform: translate(-50%, -50%);

   
    transition: all ease 0.5s;
}

#blur-box:after{
    content: "";
    position: absolute;
    height: 0px;
    width: 0px;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all ease 0.5s;

    
}

#blur-box i{
    color: white;
    font-size: 50px;
    font-weight: 900;
    position: absolute;

    left: 50%; 
    top: 50%;
   transform: translate(-50%, -50%);
   z-index: 99;
   /* color: black; */

}

#blur:hover #blur-box:after{
    height: 130px;
    width: 130px;
}

#blur:hover #blur-box i{
    color: black;
}

#blur:hover #blur-box{
    height: 20px;
    width: 20px;
}

#left5-inner:hover  img{
    scale: 1.2;
}



#left5-inner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
    transition: all ease 0.5s;


}

#page5-right{
    height: 100%;
    width: 50%;
    background-color: black;
}


#page6 {
    height: 400px;
    width: 100%;
    /* background-color: grey; */
    padding-left:  200px;
    background-color: #F1F1F1;

    /* display: flex; */
    /* align-items: center; */
    /* gap: 60px; */

}

#mukhiya{
    height: 90%;
    width: 100%;
    /* background-color: rgb(159, 43, 43);  */
    white-space: nowrap;
    overflow-x: auto;
    /* display: flex; */
    margin-top: 30px;
}

#mukhiya::-webkit-scrollbar{
    display: none;
}

#page6-main{
    height: 75%;
    width: 100%;
    /* background-color: rgb(67, 67, 67); */
    /* display: flex; */
    /* justify-content: space-around; */
    display: inline-block;

    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
    
}

#page6-outer{
    height: 100%;
    width: 18%;
    /* background-color: salmon; */
    display: inline-block;
    margin-left: 30px;
}

#page6-inner{
    height: 80%;
    width: 100%;
    background-color: black;
}

#page6-inner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page6-outer h3{
    font-size: 28px;
    font-weight: 700;
    padding: 8px;
}


#page6 #line{
    height: 10px;
    width: 200%;
    margin-top: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    position: relative;
}

#inner-line{
    height: 5px;
    width: 50%;
    position: absolute;
    left: -50%;
    background-color: black;

    animation-name: line;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes line {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(100%);
    }
    
}








#page7{
    height: 120%;
    width: 100%;
    background-color: black;

    padding-left: 200px;
    padding-top: 100px;
    
    
        --mask:
          radial-gradient(284.16px at 50% calc(100% - 386.40px),#000 99%,#0000 101%) calc(50% - 276px) 0/552px 100%,
          radial-gradient(284.16px at 50% calc(100% + 248.40px),#0000 99%,#000 101%) 50% calc(100% - 138px)/552px 100% repeat-x;
        -webkit-mask: var(--mask);
                mask: var(--mask);

                
      
}

#page7 h2{
    color: white;
    font-size: 35px;
}

#page7-main{
    height: 100%;
    width: 100%;
    margin-top: 60px;
    /* background-color: grey; */
    
    display: flex;
    gap: 60px;
    white-space: nowrap;
    overflow-x: auto;

    /* display: inline-block; */


}


#page7-outer{
    height: 65%;
    width: 40%;
    /* background-color: rgb(37, 37, 37); */
    
}


#page7-inner{
    height: 85%;
    width: 100%;
    background-color: rgb(255, 255, 255);

    overflow: hidden;
}

#page7-inner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.3s;
}

#page7-outer:hover #page7-inner img{
    scale: 1.1;
}

#page7-outer h4{
    font-size: 25px;
    margin-top: 30px;
    color: white;
    font-weight: 600;
}


#page7-small-outer{
    height: 55%;
    width:50%;
    /* background-color: darkgrey; */
}

#page7-small-inner{
    height: 85%;
    width: 100%;
    background-color: black;
    overflow: hidden;
}

#page7-small-inner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.3s;
}

#page7-small-outer h4{
    font-size: 25px;
    margin-top: 30px;
    color: white;
    font-weight: 600;
}

#page7-small-outer:hover #page7-small-inner img{
    scale: 1.1;
}


#page8{
    height: 70%;
    width: 100%;
    /* background-color: grey; */
    padding: 0 200px;
    display: flex;
    background-color: #F1F1F1;

}

#page8-left{
    height: 100%;
    width: 50%;
    /* background-color: rgb(66, 66, 66); */
}

#page8-left img{
    height: 100%;
    /* width: 100%; */
    object-fit: cover;
}

#page8-right{
    height: 100%;
    width: 50%;
    /* background-color: rgb(36, 36, 36); */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding-left: 20px;
}

#page8-right h1{
    font-size: 60px;
    line-height: 65px;
}

#page8-right h4{

    font-size: 27px;
    font-weight: 500;
    margin-top: 20px;

}

#page8-right #page8-box{
    /* background-color: white; */
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

#page8-box button:hover{
    color: white;
}

#page8-box h5{
    font-size: 20px;
    font-weight: 400;
    color: #EF5F63;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#page8-box h5::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    background-color: #EF5F63;
    left: -100%;
    bottom: 0%;
    transition: all ease 0.2s;


}

#page8-box h5:hover:after{
    width: 110%;
    left: 0%;
   
    
}




#page8-box h5::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #EF5F63;
    left: 150%;
    bottom: 0%;
    transition: all ease 0.7s;
    scale: 0;


}


#page8-box h5:hover:before{
    left: -80%;
    scale: 1;
    
}

#page9{
    height: 240px;
    width: 100%;
    background-color: grey;
    display: flex;
}

#page9-outer{
    height: 100%;
    width: calc(100% / 7);
    background-color: black;
    overflow: hidden;
}

#page9-outer img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.3s;
}

#page9-outer img:hover{
    scale: 1.1;

}

#page10{
    height: 80%;
    width: 100%;
    background-color: black;
    padding: 100px 200px;
    display: flex;

}

#page10-left{
    height: 100%;
    width: 50%;
    /* background-color: grey; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#left10-part1 h4{
    font-size: 22px;
    font-weight: 600;
    color: grey;
}

#left10-part2 h3{
    color: grey;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    /* padding-bottom: 20px; */
}



#footer-logo{
    display: flex;
    gap: 2px;
    margin-top: 15px;
}

#footer-logo i{
    color: white;
    font-size: 25px;
}

#logo-circle1{
    height: 50px;
    width: 50px;
    background-color: #3B5998;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-circle2{
    height: 50px;
    width: 50px;
    background-color: #55ACEE;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#logo-circle3{
    height: 50px;
    width: 50px;
    background-color: #E45188;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-circle4{
    height: 50px;
    width: 50px;
    background-color: #3F729B;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-circle5{
    height: 50px;
    width: 50px;
    background-color: #1769FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-circle6{
    height: 50px;
    width: 50px;
    background-color: #333333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ball{
    transition: all ease 0.3s;
}

#footer-logo .ball:hover{
    scale: 0.9;
}




#page10-right{
    height: 100%;
    width: 50%;
    display: flex;
    gap: 200px;
    /* background-color: white; */
}

#right10-part1{
    /* background-color: red; */
    width: fit-content;
}

#right10-part2{
    /* background-color: yellow; */
    width: fit-content;
}


#right10-part1 h3{
    font-size: 22px;
    color: grey;
    font-weight: 500;
    padding-bottom: 15px;
    

}

#right10-part1 h3:nth-child(8){
    margin-top: 50px;
}

#right10-part2 h3:nth-child(3){
    margin-top: 30px;
}


#right10-part2 h3:nth-child(5){
    margin-top: 50px;
}

#right10-part2 h3:nth-last-child(2){
    margin-top: 50px;
}

#right10-part1 h4{
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    width: fit-content;
    cursor: pointer;
    color: white;
    
    

}

#right10-part1 h4:after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    background-color:white;
    bottom: 0%;
    left: 0%;
    transition: all ease 0.3s;

}

#right10-part1 h4:hover:after{
    width: 100%;
}





#right10-part2 h3{
    font-size: 22px;
    color: grey;
    font-weight: 500;
    padding-bottom: 15px;

    

}


#right10-part2 h4{
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    width: fit-content;
    cursor: pointer;
    color: white;
    
    

}


#right10-part2 h4::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    background-color: white;
    left: -100%;
    bottom: 0%;
    transition: all ease 0.2s;


}

#right10-part2 h4:hover:after{
    width: 120%;
    left: 0%;
   
    
}




#right10-part2 h4::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: white;
    left: 150%;
    bottom: 0%;
    transition: all ease 0.8s;
    scale: 0;


}


#right10-part2 h4:hover:before{
    left: -80%;
    scale: 1;
    
}

#right10-part2 h5{
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 700;
    color: white;

}
















